<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Liste des favoris
  </h1>
</body>
  <ol>
    <% favoris.forEach((favoris,i)=> { %>
      <li>
        <a href="/mesfavoris/<%= favoris.number%>">
          <%= favoris.name %>
        </a>
      </li>
      <% }); %>
  </ol>
</html>